{% extends "layout.html"%}

{% block title %}
    Localidades
{% endblock %}

{% block body  %}

<div class="container">
    <div class="row mt-4">
        <div class="col-6">
            <div class="card">



                <table class="table">
                    <thead>
                        <tr>
                            <th>Localidad</th>
                            <th>Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for loc in locs %}
                        <tr>
                            <td>{{loc.nombre}}</td>
                            <td>
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <a href="editar/{{loc.id}}"class="btn btn-secondary mr-2" aria-label="">Editar</a>
                                    </span>
                                    <span class="input-group-btn">
                                        <a href="borrar/{{loc.id}}" class="btn btn-danger" aria-label="">Borrar</a>
                                    </span>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-6">
            <div class="card text-center" >
                <div class="card-header">
                    <h3>Nueva Localidad</h3>
                </div>

                <form action="/agregar_localidad" method="post">
                    <div class="card-body">
                        <input type="text" class="form-control" placeholder="Nombre de Localidad" name="nombreLocalidad">
                    </div>
                    
                    <div class="card-body">
                        <select class="form-control "  name="idProvincia">
                                <option  selected>Seleccione la Provincia</option>
                                {% for prov in provs %}
                                    <option value="{{prov.id}}">{{prov.nombre}}</option>
                                {% endfor %}
                        </select>
                    </div>

                    <button class="btn btn-success text-center" type="submit">Guardar</button>

                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}