<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>
        Probando
        <a href="/page_2">Clicl aqui para ir ala pagina 2</a>

        <br>

        <a href="/EXAMPLE/esp_PAGINA"> Español </a>

        <br>

        <a href="/EXAMPLE/czech_EJEMPLO"> Republica checa </a>

        <br>

        <a href="/EXAMPLE/eng_PAGE">  English </a>

        <br>



        <form action="/page_3" method="post">
            <input type="submit" value="Submit">
        </form>
        
    </h1>

</body>

</html>